name: test
on:
  - push
  - pull_request
    
defaults:
  run:
    shell: bash
    
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.3'
          - '1.4'
          - '1.5'
          - 'nightly'
        os:
          - ubuntu-latest
          - macOS-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: Install libcxxwrap_julia_jll
        run: julia -e 'using Pkg; pkg"add libcxxwrap_julia_jll"'
      - name: Build and test
        run: |
          mkdir build && cd build
          cmake -DCMAKE_INSTALL_PREFIX=$HOME/install -DAPPEND_OVERRIDES_TOML=ON -DOVERRIDE_VERSION_TO_JLL=ON -DCMAKE_BUILD_TYPE=Debug ..
          VERBOSE=ON cmake --build . --config Debug --target install
          julia -e 'using Pkg; pkg"add CxxWrap#master"; using CxxWrap'
          ctest -V
      - name: Build testlib
        run: |
          cd testlib-builder
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=$HOME/install ../src/testlib
          cmake --build . --config Release
